.sign-up {
  font-size: larger;
  border: none;
  margin-bottom: 0;
  font-weight: lighter;
}

.Authorize {
  font-size: smaller;
  border: none;
  margin-bottom: 1.2em;
  margin-top: 0;
}

.btn {
  border-radius: 0.25em;
  margin-right: 0.5em;
  cursor: pointer;
}

.button {
  border-radius: 0.25em;
  padding: 8 8em;
  cursor: pointer;
  margin-bottom: 1em;
}

.sign-up-form {
  max-width: 16em;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form-control {
  margin-bottom: 0.6em;
  display: flex;
}

.form-input {
  background-color: #e1e1e1;
  border: none;
  border-radius: 0.25em;
  padding: 0.625em 0.625em;
  width: 100%;
}

.text {
  font-weight: lighter;
}

.signup-btn {
  background-color: rgb(53, 93, 149);
  color: white;
  border-radius: 0.25em;
  padding: 0.625em 0.625em;
}

.member {
  font-size: x-small;
}

.login-btn {
  color: rgb(12, 123, 220);
  border-radius: 0.25em;
  padding: 0.625em 0.625em;
  background-color: #ffffff;
}
